//
// To be loaded after bootstrap
// Extending the bootstrap grid system overriding bootstrap classes and
// adding new ones (Rather than tinkering with bootrap's files themselves)
//
//╔═╤═══╤═════╤═══╤══▒▓▓█████▓██▓▓█▓▓▓▒▒▒▓▓▓▒═══╤═════╤═══╤═════╤═══╤═════╤═══╤══╗
//║┌┘   │    ┌┘   │ ▒▓▓████▓▓████▓▓▓▓██▓▓▓▓▒▒▓▓▓│    ╔═╗  ╔══╗╔═╗╔═╗│ ╔═╗┌┘╔╗ │╔╗║
//║│    └┐   │    └▓▓███▓█████▓█▓▓▒▒▒▓████▓▒▒▒▒▒▓┐   ║ ║  ║╔═╝║ ╚╝ ║└╔╝ ╚╗ ║╚╗└║║║
//║└┐    │   └┐  ▒▓▓██████▓▒▒▒▓███████████████▒▒▓▒   ║ ║  ║╚═╗║╔╗╔╗║╔╝╔╩╗╚╗║ ╚═╝║║
//║ │   ┌┘    │ ▒▓████▓▒▒▒▒▒██████▒████████████▒▒▓─  ║ ║  ║╔═╝║║╚╝║║╚╗╚╦╝╔╝║╔═╗ ║║
//║┌┘   │    ┌┘▓▓██▓▓▓██▒▓▒▒▓██▓▓███▒██████████▒▓▒▓  ║ ╚═╗║╚═╗║║┘ ║║│╚╗ ╔╝┘║║ ╚╗║║
//║│    └┐   ▒▓▓███▒▒▓▒█▒▒██████▓▓▒██▓█████████▓▓▒▓  ╚═══╝╚══╝╚╝  ╚╝└┐╚═╝│ ╚╝ └╚╝║
//║└┐    │  ▓▒▓▓▓▓█▒▒▓▒▓███████▓▓▒▒▓▒▒▓███████▓▒▓▒▒▒ └┐  ╔═╗   ╔═╗   ╔══╗╔══╗  │ ║
//║ │   ┌┘ ▓▒▓▓█▓▓▓▓▒▓▒████████▒▒▒▓▒▒ ▒▓▓██▓▒▓▒ ▓▒▒▓  │  ║ ║  ╔╝ ╚╗ ╔╝╔═╝║╔═╝ ┌┘ ║
//║┌┘   │ ▓▒▓▓▒█▓█▓▓▒▒▒███████▓▓▓▒▒▒ ▒▒▓▒▒▒▒▒▒ ▒▓▒▒▓ ┌┘  ║ ║  ║╔═╗║╔╝╔╝  ║╚═╗ │  ║
//║│    └▓▒▒▓▒▓▓█▓▓█▓▒▒██████████▓▓▓▓▒▓▒▓▒ ▒▓ ▓▒ ▒▒▓ │   ║ ║  ║╚═╝║╚╗╚╗  ║╔═╝ └┐ ║
//║└┐ ██████▒▒▒██▓███▒▒█████████████▓▓▒▓▒ ▒▓▒▒ ▓ ▒▒▓ └┐  ║ ╚═╗║╔═╗║ ╚╗╚═╗║╚═╗  │ ║
//║▒██████████▓█▓▓▓▓█▒▒█▓██████████▒▓▓▒▒▒▒ ▒ ▒▒▒▒▒▒▒  │  ╚═══╝╚╝│╚╝ ┌╚══╝╚══╝ ┌┘ ║
//████████████▓▒▓▓▓▓█▓▒▓▓▓████▓▓▒▒▒▓▓▓▒▒▒ ▒▒▒ ▓▒ ▒▓▒ ┌┘   │    ┌┘   │    ┌┘   │  ║
//████████████▓▓▒▒▒▓▓▓▓▒▓▒▒████▓▓▓▓▓▒▒▒▒ ▒▒▒▓▒▒ ▒▓▒  │    └┐   │▒▓▒ └┐   │    └┐ ║
//████████████▓▓▓▒▓▓▒█▓▒▒ ▒▒▒▓▓▓▓▓▒▒▒▒ ▒▓▒ ▓▒ ▒▒▓▒▒  └┐    │  ▒▒▓  ▒▓│   └┐    │ ║
//███████████▓▓▓▓▓▓▓▓ █▓▒▒ ▒▒▒▒▒▒▒▒ ▒ ▒▓ ▒▓ ▒▒▓▒▓▒    │   ┌┘▓▒▒ ▒   ▒▒▒   │   ┌┘ ║
//██████████▓███▓▓▓▓▒▓▒▓▒▒▒▒▒▒▒▒▒  ▒ ▒▓ ▒▓ ▒▒▓▒▓▒    ┌┘   ▓▒▒▒ ▒ ▒  ▒ ▒▓▒▓┘   │  ║
//██████████████████▓▓▓▒▓ ▒▒▒▒▒▒▒▒▒ ▒▓ ▒▓ ▒▒▓▒▒▓└┐   │  ▓▒ ▒ ▒ ▒ ▒ ▒ ▒ ▒  ▒▒  └┐ ║
//████████████████████▓▓▒▓ ▒▒▒▒▒▒▒▒▒▒ ▒▓▒▒▒▓▒▒▓  │   └┐▓  ▒ ▒ ▒ ▒  ▒   ▒ ▒▒▓   │ ║
//█████▓▓▓▓▓███████████▓▓▓▒▒▒▓▒▒▒▒▒▒▒▒▓▒▒▒▓▒▒▓▒ ┌┘    ▓ ▒  ▒ ▒ ▒   ▒ ▒▒ ▒ ▒ ▒▓┌┘ ║
//███▓▓▓▓▓▓▓▓▓█████████▓▓▓▓▓▒▓▓▓▒▒▓▓▒▒▒▒▒▓▒▒▓▒  │    ▓▒ ▒  ▒  ▒   ▒  ▒ ▒ ▒▒▒ ▒▓  ║
//█▓▓▓▓▓▓▓▓▓▓▓▓█████████▓▓▒▒▓▒▓▓▓▓▒▒▓▓▓▓▒▒▒▓▒   └┐  ▓▒▒ ▒ ▒   ▒   ▒   ▒  ▒  ▒ ▒▓ ║
//▓▒▒▒▓▒▓██████▓█████████▓▓▒▓▒▓▓▓▓▓▓▒▒▒▓▓▓▓▒┐    │  ▓▒▒ ▒ ▒  ▒   ▒ ▒  ▒ ▒  ▒ ▒▒▓ ║
//▒▒│▒▓▒▓████████████████▓▓▒▓▓▓▓▓▓▓▓▒▒▒▒▒▓▓▓▒▒  ┌┘  ▓▒▒ ▒   ▒   ▒   ▒   ▒ ▒ ▒▒▒▓ ║
//▒┌┘ ▒▓▒▓████████████████▓▒▓▓▓▓▓▓▓▓▓▒ ▒▒▒▒▒▒▒▒ │   ▓▒ ▒ ▒ ▒   ▒  ▒ ▒ ▒▒   ▒ ▒▒▓ ║
//║│    └┐▓███████████████▓▓▓▓▓▓▓▓▓▓▓▒▒ ▒▒▒▒▒▒▒▒└┐  ▓▒▒ ▒ ▒ ▒   ▒  ▒   ▒ ▒ ▒ ▒▒▓ ║
//║└┐    │▒▓█▓████████████▓▒▓▓▓▓▓▓▓▓▒▒▒  ▒▒▒▒▒▒▒ │  ▓▒▒  ▒   ▒   ▒  ▒ ▒ ▒ ▒ ▒▒▒▓ ║
//║ │   ┌┘  ▒█▓██████████▓▓▒▒▓▓▓▓▓▓▒▒▒▒  ▒▒▒▒▒▒ ┌┘  ▓▒ ▒ ▒ ▒  ▒   ▒▒ ▒   ▒  ▒▒▒▓ ║
//║┌┘   │    ▒█▓▓████████▒▓▒▒▒▒▒▒▒▒▒▒▒   ▒▒▒▒▒  │    ▓▒▒  ▒  ▒  ▒  ▒  ▒ ▒  ▒ ▒▒▓ ║
//║│    └┐   │██▓▓▓▓███▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒  ▒▒▒▒▒   └┐   ▓▒ ▒  ▒   ▒  ▒  ▒  ▒  ▒▒▒▓┐ ║
//║└┐    │   └┐██▒▓▓▓▓▓▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒  ▒▒▒└┐    │   └▓▒ ▒  ▒ ▒   ▒ ▒  ▒▒ ▒▒▒▒ │ ║
//║ │   ┌┘    │███▒▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒  ▒▒   │   ┌┘    │▓▒ ▒▒ ▒ ▒  ▒▒ ▒  ▒▒▒▓  ┌┘ ║
//║┌┘   │    ┌┘ ████▒▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒ ▒▒   ┌┘   │    ┌┘ ▓▒▒ ▒  ▒  ▒ ▒▒▒ ▒▓▒   │  ║
//║│    └┐   │  ▓█████▒▓▒▒▒▒▒▒▒▒▒▒▒▒  ▒┐   │    └┐   │    ▓▒▒▒▒ ▒ ▒  ▒▒▓ │    └┐ ║
//║└┐    │   └┐  ████▒▓▒▒▒▒▒▒▒▒▒▒▒▒  ▒ │   └┐    │   └┐    │▓▓▒ ▒▒ ▒▒▒▓  └┐    │ ║
//║ │   ┌┘    │ ███▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  ▒ ┌┘    │   ┌┘    │   ┌┘   ▒▒ ▒▒▒┘    │   ┌┘ ║
//║┌┘   │    ┌┘ ▓█▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒  ▒  │    ┌┘   │    ┌┘   │    ┌┘   │    ┌┘   │  ║
//║▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓║
//████████████████████████████████████████████████████████████████████████████████
//█ .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .█
//▓  LemonLace Bootstrap Wrapper v4.1 - Created by Michael Cook - m.ichael.co.uk ▓
//▓. @license:http://opensource.org/licenses/MIT  .   .   .   .   .   .   .   .  ▓
//▒ .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .▒
//╚══════════════════════════════════════════════════════════════════════════════╝



//╔═════════════════════════════ Fractional Columns ══════════════════════════════╗
//║ For example, 1/5th width columns would be .col-xs-1_5                         ║
//║ Other typical classes are created such as .col-sm-1_5 .col-md-1_5 .col-lg-1_5 ║
//╚═══════════════════════════════════════════════════════════════════════════════╝
$fractional-columns: true!default; // 13kb extra


//╔═════════════════════════════ Gutterless classes ══════════════════════════════╗
//║ These classes allow you to remove the gutters either side of columns.         ║
//║ It gives you classes such as .gutterless, .xs-gutterless, .sm-plus-gutterless ║
//║ Or more specifically, .gutterless--left, .sm-plus-gutterless--left, etc.      ║
//╚═══════════════════════════════════════════════════════════════════════════════╝
$gutterless-classes: true!default; // 2kb extra


//╔════════════════════════ Extra Gutters (rarely needed) ════════════════════════╗
//║ This allows you to give columns extra padding on either side.                 ║
//║ For example, .extra-gutters-1 gives 1 extra gutters worth of padding.         ║
//║ Similarly .extra-gutters-2--left would give 2 extra gutters worth on the left ║
//║ More advanced classes are also created such as .sm-plus-extra-gutters-2--right║
//║ Note: The current maximum is 4                                                ║
//╚═══════════════════════════════════════════════════════════════════════════════╝
$extra-gutter-classes: true!default; // 6.2kb extra


//╔══════════════════════════════ General Features ═══════════════════════════════╗
//║ This adds simple features using the mixin below. If you wish to add more,     ║
//║ it will automagically generate all the width-specific classes.                ║
//║                                                                               ║
//║ For example, if you were to add something like ($ instead of £):              ║
//║     #{£prefix}blue { color: blue; }                                           ║
//║                                                                               ║
//║ It would create for you the following classes for use with the bootstrap grid ║
//║     .blue           (every width)                                             ║
//║     .xs-blue        (xs only)                                                 ║
//║     .sm-blue        (sm only)                                                 ║
//║     .md-blue        (md only)                                                 ║
//║     .lg-blue        (lg only)                                                 ║
//║     .sm-plus-blue   (sm and wider)                                            ║
//║     .md-plus-blue   (md and wider)                                            ║
//║                                                                               ║
//╚═══════════════════════════════════════════════════════════════════════════════╝
$general-features: true!default; // 3.3kb extra


//╔═══════════════════════ Alt Class Names (rarely needed) ═══════════════════════╗
//║ Create class aliases such as .xs-hidden for .hidden-xs, etc.                  ║
//║ Try not to use these, as incongruous bootstrap class names are here to stay.  ║
//╚═══════════════════════════════════════════════════════════════════════════════╝
$alt-class-names: false!default;


// Applies to given width and above
// Phones +
@media (min-width: $screen-xs-min) {
	.col-xs-center {
		float: none!important;
		margin-left: auto!important;
		margin-right:auto!important; }
	.col-xs-left { float: left!important; }
	.col-xs-right { float: right!important; }
}
// Tablets +
@media (min-width: $screen-sm-min) {
	.col-sm-center {
		float: none!important;
		margin-left: auto!important;
		margin-right:auto!important; }
	.col-sm-left { float: left!important; }
	.col-sm-right { float: right!important; }
}
// Desktops +
@media (min-width: $screen-md-min) {
	.col-md-center {
		float: none!important;
		margin-left: auto!important;
		margin-right:auto!important; }
	.col-md-left { float: left!important; }
	.col-md-right { float: right!important; }
}

// Large Desktops +
@media (min-width: $screen-lg-min) {
	.col-lg-center {
		float: none!important;
		margin-left: auto!important;
		margin-right:auto!important; }
	.col-lg-left { float: left!important; }
	.col-lg-right { float: right!important; }
}


/*
 * Exciting features for different resolutions e.g. xs-whatever, .sm-whatever
 */
@mixin features($prefix:'') {
	@if $gutterless-classes == true {
		.#{$prefix}gutterless { @include gutterless(); }
		.#{$prefix}gutterless--left { @include gutterless--left() }
		.#{$prefix}gutterless--right { @include gutterless--right() }
	}

	@if $general-features == true {
		.#{$prefix}left { &, &.right { float: left!important; } }
		.#{$prefix}right { &, &.left { float: right!important; } }
		.#{$prefix}center { &, &.center {
			float: none!important; margin-left: auto!important; margin-right:auto!important; } }

		.#{$prefix}static { 	 position: static!important; }
		.#{$prefix}relative { position: relative!important; }

		.#{$prefix}fill {
			@include border-box();
			width: 100%!important;
		}

		.#{$prefix}text-left { text-align: left!important; }
		.#{$prefix}text-right { text-align: right!important; }
		.#{$prefix}text-center { text-align: center!important; }

		.#{$prefix}clear { display: block!important; clear: both; }

		// xs-row, sm-plus-row, etc.
		.#{$prefix}row { @include row(); }
	}
}


/*
 * Mixins used in features above
 */

@mixin border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin gutterless--left() { padding-left: 0!important; }
@mixin gutterless--right() { padding-right: 0!important; }
@mixin gutterless() {
	@include gutterless--left();
	@include gutterless--right();
}


@mixin gutterless-row--left() { margin-left: 0!important; }
@mixin gutterless-row--right() { margin-right: 0!important; }
@mixin gutterless-row() {
	@include gutterless-row--left();
	@include gutterless-row--right();
}

// Gutterless *rows* for different widths
@mixin gutterless-rows($prefix:'') {
	@if $gutterless-classes == true {
		#{$prefix}gutterless { @include gutterless-row(); }
		#{$prefix}gutterless--left { @include gutterless-row--left() }
		#{$prefix}gutterless--right { @include gutterless-row--right() }
	}
}


// The infamous double-gutters (now extra-gutters-n)
@mixin extra-gutters--left($gutters) {
	// double gutters is 1 gutter width, triple is 1.5, etc.
	padding-left: $grid-gutter-width * ($gutters / 2 + 0.5)!important;
	// removed !important for gutterless reasons, then added it back because fractional columns overrides it
}
@mixin extra-gutters--right($gutters) {
	padding-right: $grid-gutter-width * ($gutters / 2 + 0.5)!important;
	// removed !important for gutterless reasons, then added it back because fractional columns overrides it
}
@mixin extra-gutters($gutters) {
	@include extra-gutters--left($gutters);
	@include extra-gutters--right($gutters);
}
/*
// Unusually needed
@mixin negative-gutters--left($gutters) {
	margin-left: - $grid-gutter-width * ($gutters / 2 + 0.5); // removed !important for gutterless reasons
}
@mixin negative-gutters--right($gutters) {
	margin-right: - $grid-gutter-width * ($gutters / 2 + 0.5); // removed !important for gutterless reasons
}
@mixin negative-gutters($gutters) {
	@include negative-gutters--left($gutters);
	@include negative-gutters--right($gutters);
}
*/

// This can be used to generate classes later on, such as .xs-extra-gutters
@mixin extra-gutters-generate($prefix) {
	@if $extra-gutter-classes == true {
		#{$prefix}extra-gutters--left { @include extra-gutters--left(1); }
		#{$prefix}extra-gutters-0--left { @include extra-gutters--left(0); }
		#{$prefix}extra-gutters-1--left { @include extra-gutters--left(1); }
		#{$prefix}extra-gutters-2--left { @include extra-gutters--left(2); }
		#{$prefix}extra-gutters-3--left { @include extra-gutters--left(3); }
		#{$prefix}extra-gutters-4--left { @include extra-gutters--left(4); }
		#{$prefix}extra-gutters--right { @include extra-gutters--right(1); }
		#{$prefix}extra-gutters-0--right { @include extra-gutters--right(0); }
		#{$prefix}extra-gutters-1--right { @include extra-gutters--right(1); }
		#{$prefix}extra-gutters-2--right { @include extra-gutters--right(2); }
		#{$prefix}extra-gutters-3--right { @include extra-gutters--right(3); }
		#{$prefix}extra-gutters-4--right { @include extra-gutters--right(4); }
		#{$prefix}extra-gutters { @include extra-gutters(1); }
		#{$prefix}extra-gutters-0 { @include extra-gutters(0); }
		#{$prefix}extra-gutters-1 { @include extra-gutters(1); }
		#{$prefix}extra-gutters-2 { @include extra-gutters(2); }
		#{$prefix}extra-gutters-3 { @include extra-gutters(3); }
		#{$prefix}extra-gutters-4 { @include extra-gutters(4); }

		//.#{$prefix}negative-gutters-9 { @include negative-gutters(9); }
	}
}


/*
 * Mixin for .col-xs-1_5 (1/5th width), col-sm-plus-1_5, etc.
 */
@mixin col-fractions($prefix) {
	@if $fractional-columns == true {
		// Generated by bootstrap_grid-wrapper_grid.php for @mixin col-fractions (ask Myke)
		.col-#{$prefix}1_2,.col-#{$prefix}2_4,.col-#{$prefix}3_6,.col-#{$prefix}4_8,.col-#{$prefix}5_10,.col-#{$prefix}1_3,.col-#{$prefix}2_6,.col-#{$prefix}3_9,.col-#{$prefix}1_4,.col-#{$prefix}2_8,.col-#{$prefix}1_5,.col-#{$prefix}2_10,.col-#{$prefix}1_6,.col-#{$prefix}1_7,.col-#{$prefix}1_8,.col-#{$prefix}1_9,.col-#{$prefix}1_10,.col-#{$prefix}1_11,.col-#{$prefix}2_3,.col-#{$prefix}4_6,.col-#{$prefix}6_9,.col-#{$prefix}2_5,.col-#{$prefix}4_10,.col-#{$prefix}2_7,.col-#{$prefix}2_9,.col-#{$prefix}2_11,.col-#{$prefix}3_4,.col-#{$prefix}6_8,.col-#{$prefix}3_5,.col-#{$prefix}6_10,.col-#{$prefix}3_7,.col-#{$prefix}3_8,.col-#{$prefix}3_10,.col-#{$prefix}3_11,.col-#{$prefix}4_5,.col-#{$prefix}8_10,.col-#{$prefix}4_7,.col-#{$prefix}4_9,.col-#{$prefix}4_11,.col-#{$prefix}5_6,.col-#{$prefix}5_7,.col-#{$prefix}5_8,.col-#{$prefix}5_9,.col-#{$prefix}5_11,.col-#{$prefix}6_7,.col-#{$prefix}6_11,.col-#{$prefix}7_8,.col-#{$prefix}7_9,.col-#{$prefix}7_10,.col-#{$prefix}7_11,.col-#{$prefix}8_9,.col-#{$prefix}8_11,.col-#{$prefix}9_10,.col-#{$prefix}9_11,.col-#{$prefix}10_11{
			float: left;

			// Same as bootstrap make-grid-columns() in mixins/_grid-framework.scss
			position: relative;
			min-height: 1px;
			padding-left:  ($grid-gutter-width / 2);
			padding-right: ($grid-gutter-width / 2);
		}
		.col-#{$prefix}1_2,.col-#{$prefix}2_4,.col-#{$prefix}3_6,.col-#{$prefix}4_8,.col-#{$prefix}5_10{width: 50%}.col-#{$prefix}1_3,.col-#{$prefix}2_6,.col-#{$prefix}3_9{width: 33.333%}.col-#{$prefix}1_4,.col-#{$prefix}2_8{width: 25%}.col-#{$prefix}1_5,.col-#{$prefix}2_10{width: 20%}.col-#{$prefix}1_6{width: 16.666%}.col-#{$prefix}1_7{width: 14.285%}.col-#{$prefix}1_8{width: 12.5%}.col-#{$prefix}1_9{width: 11.111%}.col-#{$prefix}1_10{width: 10%}.col-#{$prefix}1_11{width: 9.09%}.col-#{$prefix}2_3,.col-#{$prefix}4_6,.col-#{$prefix}6_9{width: 66.666%}.col-#{$prefix}2_5,.col-#{$prefix}4_10{width: 40%}.col-#{$prefix}2_7{width: 28.571%}.col-#{$prefix}2_9{width: 22.222%}.col-#{$prefix}2_11{width: 18.181%}.col-#{$prefix}3_4,.col-#{$prefix}6_8{width: 75%}.col-#{$prefix}3_5,.col-#{$prefix}6_10{width: 60%}.col-#{$prefix}3_7{width: 42.857%}.col-#{$prefix}3_8{width: 37.5%}.col-#{$prefix}3_10{width: 30%}.col-#{$prefix}3_11{width: 27.272%}.col-#{$prefix}4_5,.col-#{$prefix}8_10{width: 80%}.col-#{$prefix}4_7{width: 57.142%}.col-#{$prefix}4_9{width: 44.444%}.col-#{$prefix}4_11{width: 36.363%}.col-#{$prefix}5_6{width: 83.333%}.col-#{$prefix}5_7{width: 71.428%}.col-#{$prefix}5_8{width: 62.5%}.col-#{$prefix}5_9{width: 55.555%}.col-#{$prefix}5_11{width: 45.454%}.col-#{$prefix}6_7{width: 85.714%}.col-#{$prefix}6_11{width: 54.545%}.col-#{$prefix}7_8{width: 87.5%}.col-#{$prefix}7_9{width: 77.777%}.col-#{$prefix}7_10{width: 70%}.col-#{$prefix}7_11{width: 63.636%}.col-#{$prefix}8_9{width: 88.888%}.col-#{$prefix}8_11{width: 72.727%}.col-#{$prefix}9_10{width: 90%}.col-#{$prefix}9_11{width: 81.818%}.col-#{$prefix}10_11{width: 90.909%}
	}
}

@mixin row() {
	margin-left: - $grid-gutter-width * 0.5;
	margin-right: - $grid-gutter-width * 0.5;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}






/*
 * Generate all the generic classes from above mixins e.g. .gutterless
 */

// Generic features, e.g. .gutterless
@include features('');

// Generic extra gutters
@include extra-gutters-generate('.');

// Generic gutterless rows
@include gutterless-rows('.row.');




/*
 * Generate all the width-plus classes e.g. .sm-plus-gutterless
 */

// Phones + (everything) [Xanthic]
@include xs {
	@include col-fractions('xs-'); // attempting xs-plus = xs like bootstrap
}

// Tablets + [Salmon]
@include sm-plus {
	@include col-fractions('sm-');

	@include features('sm-plus-');
	@include extra-gutters-generate('.sm-plus-');
}

// Desktops + [Magenta]
@include md-plus {
	@include col-fractions('md-');

	@include features('md-plus-');
	@include extra-gutters-generate('.md-plus-');
}

// Large Desktops + [Lilac]
@include lg {
	@include col-fractions('lg-');
}


/*
 * Generate all the width-specific classes e.g. .sm-gutterless
 */

// Phones only
@include xs {
	@include features('xs-');
	@include gutterless-rows('.row.xs-');
	@include extra-gutters-generate('.xs-');
}

// Tablets only
@include sm {
	@include features('sm-');
	@include gutterless-rows('.row.sm-');
	@include extra-gutters-generate('.sm-');
}

// Desktops only
@include md {
	@include features('md-');
	@include gutterless-rows('.row.md-');
	@include extra-gutters-generate('.md-');
}

// Large Desktops +
@include lg {
	@include features('lg-');
	@include gutterless-rows('.row.lg-');
	@include extra-gutters-generate('.lg-');
}


/*
 * Generate includes for grid widths, to allow things like @include col-xs-4
 * Very useful considering you can't @extend classes from within media queries.
 * (this could be rewritten as one mixin, but doesn't have any advantage
 * and would make the @include less intuitive
 */
@mixin col-xs-1 { @extend .col-xs-1; }
@mixin col-xs-2 { @extend .col-xs-2; }
@mixin col-xs-3 { @extend .col-xs-3; }
@mixin col-xs-4 { @extend .col-xs-4; }
@mixin col-xs-5 { @extend .col-xs-5; }
@mixin col-xs-6 { @extend .col-xs-6; }
@mixin col-xs-7 { @extend .col-xs-7; }
@mixin col-xs-8 { @extend .col-xs-8; }
@mixin col-xs-9 { @extend .col-xs-9; }
@mixin col-xs-10 { @extend .col-xs-10; }
@mixin col-xs-11 { @extend .col-xs-11; }
@mixin col-xs-12 { @extend .col-xs-12; }
@mixin col-sm-1 { @extend .col-sm-1; }
@mixin col-sm-2 { @extend .col-sm-2; }
@mixin col-sm-3 { @extend .col-sm-3; }
@mixin col-sm-4 { @extend .col-sm-4; }
@mixin col-sm-5 { @extend .col-sm-5; }
@mixin col-sm-6 { @extend .col-sm-6; }
@mixin col-sm-7 { @extend .col-sm-7; }
@mixin col-sm-8 { @extend .col-sm-8; }
@mixin col-sm-9 { @extend .col-sm-9; }
@mixin col-sm-10 { @extend .col-sm-10; }
@mixin col-sm-11 { @extend .col-sm-11; }
@mixin col-sm-12 { @extend .col-sm-12; }
@mixin col-md-1 { @extend .col-md-1; }
@mixin col-md-2 { @extend .col-md-2; }
@mixin col-md-3 { @extend .col-md-3; }
@mixin col-md-4 { @extend .col-md-4; }
@mixin col-md-5 { @extend .col-md-5; }
@mixin col-md-6 { @extend .col-md-6; }
@mixin col-md-7 { @extend .col-md-7; }
@mixin col-md-8 { @extend .col-md-8; }
@mixin col-md-9 { @extend .col-md-9; }
@mixin col-md-10 { @extend .col-md-10; }
@mixin col-md-11 { @extend .col-md-11; }
@mixin col-md-12 { @extend .col-md-12; }
@mixin col-lg-1 { @extend .col-lg-1; }
@mixin col-lg-2 { @extend .col-lg-2; }
@mixin col-lg-3 { @extend .col-lg-3; }
@mixin col-lg-4 { @extend .col-lg-4; }
@mixin col-lg-5 { @extend .col-lg-5; }
@mixin col-lg-6 { @extend .col-lg-6; }
@mixin col-lg-7 { @extend .col-lg-7; }
@mixin col-lg-8 { @extend .col-lg-8; }
@mixin col-lg-9 { @extend .col-lg-9; }
@mixin col-lg-10 { @extend .col-lg-10; }
@mixin col-lg-11 { @extend .col-lg-11; }
@mixin col-lg-12 { @extend .col-lg-12; }



/*
 * Undo some shortsighted bootstrap things
 */

// Get rid of the _scaffolding.scss implicit colour for hovering links (e.g. within h3)
// This ought to be overriden explicitly in _typography.scss, by a { &, &:hover { color: .. } }
a {
	/*@include attention() {
		//color: $color--link;
		color: inherit;
	}*/
	&:hover,
	&:focus {
		color: inherit;
	}
}
.row { clear: both; }


/*
 * Miscellaneous classes
 */

// Alt class names, try not to use these
@if $alt-class-names == true {
	.xs-hidden  { @extend .hidden-xs; }
	.sm-hidden  { @extend .hidden-sm; }
	.md-hidden  { @extend .hidden-md; }
	.lg-hidden  { @extend .hidden-lg; }
	.xs-visible { @extend .visible-xs; }
	.sm-visible { @extend .visible-sm; }
	.md-visible { @extend .visible-md; }
	.lg-visible { @extend .visible-lg; }
}

/*
 * Negative gutters (not typically needed, except perhaps for hr)
 */
.negative-gutters {
	margin-left: - $grid-gutter-width!important;
	margin-right: - $grid-gutter-width!important;
}

/*
 * Custom grid based padding
 */
.padding-gutters-1_2 {
	position: relative;
	padding: $grid-gutter-width*0.5;
}

.gutter-top {
	padding-top: $grid-gutter-width*0.25;
}

/*
 * Custom pushes
 */
@include md-plus {
	.col-md-push-1_24 { left: percentage(1/24); }
	.col-md-push-2_24 { left: percentage(2/24); }
	.col-md-push-3_24 { left: percentage(3/24); }
}

/*
 * Unusual custom columns (sigh)
 */
@include md-plus {
	.col-md-5_18 {
		position: relative;
		min-height: 1px;
		padding-left:  ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);
	}
	.col-md-5_18 {
		width: percentage(5/18);
	}
}
